


.cdePrgrph {
    width: 800px;
    color: black;
}

.tPic{
    width: 200px;
}

.cdePic {
    width: 800px;
}

.calc {
    border-style: double;
    border-color: green;
    height: 20px;
    width: 115px;
    display: flex;
    background-color: rgb(124, 186, 223);
    color: rgb(110, 129, 3);
    padding-bottom: 0px;
    margin-bottom: 5px;
    height: 35px;
    font-size: 24px;
    justify-content: flex-end;
    flex-direction: column;
}

.calc2{
   
    border-style: double;
    border-color: green;
    height: 20px;
    width: 75px;
    display: none;
}

.calc3{
    border-style: double;
    border-color: green;
    height: 40px;
    width: 150px;
}

.webCalc{
    width:35px;
    height:35px;
}

.clear{
    width:152px;
    height:25px;
}

#addItUp{
    height: 40px;
    width: 150px; 
}

.parkPic{
    max-width:800px;
    max-height:300px;
}

/*Code for circle in topic 7 */

#round1{
    height:300px;
    width:300px;
    border-radius: 50%;
    background:yellow;
    transition: 1s;
    position: absolute;
    
}

#round1:hover{
    
    background:orange;
    transition: 1s;
}

#round2{
    height:50px;
    width:50px;
    border-radius:50%;
    background:black;
    position: absolute;
    left: 70px;
    top: 200px;
    transition:.1s;
    
}

#round3{
    height:50px;
    width:50px;
    border-radius:50%;
    background:black;
    position: absolute;
    left: 180px;
    top: 200px;
   
    
}

#round1:hover ~ #round2{
   
    /*top: 200px;
    height:1px;*/
    height:8px;
    transition:2s;
    top:220px;
   
}

#round3:hover{
   
    /*top: 200px;
    height:1px;*/
    height: 8px;
    top:220px;
    transition:1s;
   
}

#square1{
    width:50px;
    height:3px;
    background:black;
    position: absolute;
    left: 70px;
    top: 222px;
    opacity: 0;
    transition:2s;

    
}

/*#square2{
    width:50px;
    height:3px;
    background:black;
    position: fixed;
    left: 180px;
    top: 222px;
    
    transition:.1s;

    
}*/

#round2:hover ~ #square1{
    opacity:1;
    transition: .1s;
}

#round1:hover ~ #smile{
    
        width: 180px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 50px 0 0 black;
        position: absolute;
        top: 190px;
        left: 65px;
        opacity:1;
        transition:3s;
}

#smile{
     
    box-shadow: 0 10px 0 0 black;
    position:absolute;
    top:220px;
    left: 65px;
    width: 180px;
    height: 150px;
    border-radius: 50%;
    transition: 3s;
   
}

#colors {
    background-color: red;
    animation: chColors 5s infinite linear;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 400px;
    animation-play-state: running;
    
  }
  @keyframes chColors {
      10% {background-color: red; top:300px; left:600px; }
      25% {background-color: yellow; top:300px; left:400px;}
      40% {background-color: blue; top:200px; left:500px;}
      60% {background-color: green; top:300px; left:400px;}
      75% {background-color: purple; top:100px; left: 600px;}
      100% {background-color: orange; top:100px; left: 400px;}
  }
   
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    width: 600px;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
    transition:3s;
  }

  #red{
      width:100px;
      height:30px;
      background-color:red;
  }

  #green{
    width:100px;
    height:30px;
    background-color:green;
}

#yellow{
    width:100px;
    height:30px;
    background-color:yellow;
}

  #red:hover ~ .grid-container{
      background-color:red;
  }

  #green:hover ~ .grid-container{
    background-color:green;
}

#yellow:hover ~ .grid-container{
    background-color:yellow;
}

 

 
  .one:hover{
      background-color: green;
      padding: 50px;
      border-radius: 50px;
      transition-duration: 3s;

  }
  .two:hover{
    
    background-color: purple;
    padding: 3px;
    border-radius: 100px;
    transition-duration: 5s;
    font-size: 100px;
    color:yellow;

}

  .three:hover{
    background-color:black;
    color:orange;
    height:100px;
    
    font-size:85px;
    transition:2s;

  }

  .four:hover{
     
      
      font-size:200px;
      background-color:green;
      color:red;
      transition:4s;
  }

  .five:hover{
      border-radius:200px;
      transition:3s;
      height:330px;
      font-size:100px;
      color:orange;
      background-color:blue;

  }

  .six:hover{
     
      
    font-size:200px;
    background-color:blue;
    color:white;
    font-family:arial;
    border-radius:200px;
    padding:100;
    transition:4s;

}

.seven:hover{
     
      
    font-size:24px;
    background-color:green;
    color:red;
    border-radius:15px;
    transition:4s;
}

.eight:hover{
     
      
    font-size:500px;
    background-color:yellow;
    color:purple;
    border-radius:79px;
    border:0px;
    transition:4s;
}


.nine:hover{
     
      
    font-size:12px;
    background-color:grey;
    color:green;
    border-radius:22px;
    transition: 4s;
    
}

#square{
    background-color: red;
    height:100px;
    width:100px;
}

#x{
    background-color: green;
    height:30px;
    width:200px;
}

#y{
    background-color: yellow;
    height:30px;
    width:200px;
}

#z{
    background-color: blue;
    height:30px;
    width:200px;
}

#square {
    width: 100px;
    height: 100px;
    background: red;
    position:absolute;
    left:5px;
    top:300px;
    transition: 2s;  
    
  }
  
  #y:hover ~ #square {
    transform: rotateY(360deg);
    background-color:yellow;
    position:absolute;
    top:50px;
    left:500px;
    transition: 3s;
  }

  #x:hover ~ #square {
    transform: rotateX(360deg);
    background-color:green;
    position:absolute;
    left:5px;
    top:50px;
    transition: 3s;
  }

  #z:hover ~ #square {
    transform: rotateZ(360deg);
    background-color:blue;
   
    position: absolute;
    left:500px;
    top:300px;
    transition: 3s;

  }

  body {padding:4em; background:#fcfcfc;}




div.orange:hover{animation-play-state: running;}
div.orange:hover ~ div.yellow{animation-play-state: paused;}

div.orange{width:200px;
           height:50px;
           position:absolute;
           left:600px;
           background-color:orange;
           border-radius: 25px;
           font-size: 30px;
           color:rgb(1, 1, 14);
           text-align: center;
           animation: spin2 10s linear infinite;
           animation-play-state: paused;}



@keyframes spin2{
    50%{transform: rotate(1turn); border-radius:200px; color:white; font-size:18px; background-color:pink;}
}

div.yellow{
    background-color:yellow;
    height:100px;
    width:100px;
    position:absolute;
  
    left:5px;
    animation: slide2 15s linear infinite;
    animation-play-state: running;
}

div.yellow:hover~div.yes{animation-play-state:paused;}

div.blue{
    background-color:blue;
    height:100px;
    width:100px;
    position:absolute;
    
    left:5px;
    animation: slide 10s linear infinite;
    animation-play-state: running;
    
}

div.green{
    background-color: green;
    height:100px;
    width:100px;
    position:absolute;
    top:300px;
    left:5px;
    animation: slide2 10s linear infinite;
    animation-play-state: running;
}

div.red{
    background-color: red;
    height:100px;
    width:100px;
    position:absolute;
    top:400px;
    left:5px;
    animation: slide2 15s linear infinite;
    animation-play-state: running;
}

div.blue:hover ~ div.green{animation-play-state:paused;}
div.green:hover ~ div.red{animation-play-state:paused;}
div.red:hover ~ div.blue{animation-play-state:paused;}


@keyframes slide{
    50%{left:400px;}
}

@keyframes slide2 {
    50% {position: absolute; left: 300px;}
}

.blackBox{
    height:100px;
    width:100px;
    background-color:black;
    transition: 4s;
}

.redRectangle{
    height:100px;
    width:400px;
    background-color:red;
    transition: 4s;
}

.greenCircle{
    height:100px;
    width:100px;
    border-radius:100px;
    background-color:green;
    transition: 4s;
}

.yellowTriangle{
    width: 0px; 
    height: 0px; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    
    border-bottom: 200px solid yellow;
    transition: 7s;
}

.purpleOval{
    width: 200px;
    height: 100px;
    background: purple;
    border-radius: 100px / 50px;
    transition: 5s;
}